<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <main>
    <p>Este sitio fue creado por {{appData.app.author}}. Los datos que se emplean son de mapbox.com y darksky.net</p>
    <img class="portrait" src="/img/robot_cc0_250.png" alt="Robot y gato como imagen del autor" />
    <p>{{appData.description}}</p>
  </main>
  {{>footer}}
</body>

</html>