<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <main>
    <p>Introducir en la caja de b칰squeda el nombre de la ciudad a localizar y pulsar en el bot칩n <span
        class="highlight">Buscar</span>
    </p>
    <img class="help_image" src="/img/help_search_box.png"
      alt="Caja de b칰squeda con un ejemplo y el cursor sobre el bot칩n Buscar">
    <p>La aplicaci칩n har치 el resto 游땚</p>
  </main>
  {{>footer}}
</body>

</html>