<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <main>
    <p>Emplea este sitio para saber el tiempo de tu ciudad </p>
    {{>location_form}}
    {{>forecast}}
  </main>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>

</html>