<form method="GET" action="/weather" id="location_form">
  <input type="search" name="location" id="search_location" placeholder="Localización">
  <button class="search_button">Buscar</button>
  <div style="display: none;">
    <label for="control">Este es un campo de control. No rellenar.</label>
    <input type="text" name="control" id="control">
  </div>
</form>